{{ sidekiq_user }} ALL=NOPASSWD: /sbin/start sidekiq app={{ sidekiq_dir }} index=0, /sbin/stop sidekiq app={{ sidekiq_dir }} index=0, /sbin/restart sidekiq app={{ sidekiq_dir }} index=0, /sbin/reload sidekiq app={{ sidekiq_dir }} index=0, /sbin/status sidekiq app={{ sidekiq_dir }} index=0
